  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #282936;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar {
    background-color: #282949;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
  }
  .navbar ul {
    list-style: none;
    display: flex;
  }
  .navbar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
    position: relative;
  }
  .navbar ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.03s;
  }
  .navbar ul li a:hover {
    color: gold;
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  .logo {
    font-size: 35px;
  }
  .logo a {
    text-decoration: none;
    color: white;
  }
  .logo a span {
    color: gold;
  }
  .practicals {
    display: none;
  }
  .navbar ul li:hover .practicals {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #282949;
  }
  .navbar ul li:hover .practicals ul {
    display: block;
    margin: 10px;
  }
  .navbar ul li:hover .practicals ul li {
    width: 120px;
    padding: 10px;
  }
  .btn{
    position: relative;
    width: 200px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.35);
    border-left: 0.5px solid rgba(255, 255, 255, 0.35);
    padding-left: 40px;
    transition: 0.5s;
  }
  .btn:hover{
    padding-left: 0px;
    padding-right: 40px;
    color: rgba(255, 255, 255, 1);
  }
  .btn span{
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: purple;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  .btn:hover span{
    left: calc(100% - 55px);
  }
  .btn:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 100px;
    z-index: 1;
  }