* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #282936;
    color: #fff;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #282999;
    color: #fff;
    text-decoration: none;
    list-style: none;
  }
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  .menu {
    display: flex;
    gap: 1em;
    font-size: 23px;
  }
  .menu li:hover {
    background-color: #282936;
    border-radius: 25px;
    transition: 0.01s ease-out;
  }
  .menu li {
    padding: 5px 14px;
  }
  .logo {
    font-size: 35px;
  }
  .logo a {
    text-decoration: none;
    color: white;
  }
  .practicals {
    position: relative; 
  }
  .dropdown {
    background-color: #282936;
    padding: 1em 0em;
    position: absolute; 
    display: none;
    border-radius: 10px;
    top: 35px;
    left: 0px;
    right: 
  }
  .dropdown li + li {
    margin-top: 5px;
  } 
  .dropdown li {
    padding: 0.05em 2em;
    width: 8em;
    text-align: center;
  }
  .dropdown li:hover {
    background-color: rgba(128, 128, 128, 0);
  }
  
  .practicals:hover .dropdown {
    display: block;
  }
  ul{
    list-style: none;
  }


  button {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }