@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    background-color: rgb(88, 136, 155);
    font-family: 'Lato', sans-serif;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
nav {
    padding: 10px; 
    display: flex; 
    align-items: center; 
}
.logo {
    margin-left: 50px;
    margin-top: 50px;
    width: 150px;
    height: auto; 
}
.nav-links {
    margin-left: auto;
}
.nav-links a {
    color: #021d33;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px; 
}
.nav-links a:hover {
    color: rgb(116, 226, 43);
}
